<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465201931770-rorb6n2mom1dnf8om212shkobj903l22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465201931770-rorb6n2mom1dnf8om212shkobj903l22</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>465201931770-km79jp5irqlqs04u8d4das01ln7ja74n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5tLWe18rcZ3Of6BQN-tf4i7E1stS_6QY</string>
	<key>GCM_SENDER_ID</key>
	<string>465201931770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koffeekodes.parentInstitute</string>
	<key>PROJECT_ID</key>
	<string>feaseapp-parent</string>
	<key>STORAGE_BUCKET</key>
	<string>feaseapp-parent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465201931770:ios:353d5e1147c252828b7043</string>
</dict>
</plist>